<a href="https://colab.research.google.com/github/flukekas/flukekas.github.io/blob/master/CMT309_Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10 // 3
print (a)

3

In [ ]:
b = 11 % 4
print (b)

3

[3] is a division [4] shows the remainder. [5] does the addition

In [ ]:
print (a, '+', b, '=',a+b)

3 + 3 = 6

In [ ]:
a

3

If you want something specifically printed, use the 'print' command.

In [ ]:
a, b, c, d = 7,8,10,2
print ('a+b*c-(b-a)*d', '=', a+b*c-(b-a)*d)
'7+8*10-1*2'
'7+80-2'
'87-2'

a+b*c-(b-a)*d = 85

'87-2'

In [ ]:
e, f, g = None, True, False
print (type(f))
print (f+1)
print (int(g))
print (type (e))

<class 'bool'>
2
0
<class 'NoneType'>

In [ ]:
'a is 10 because a and a+ is added together' 
'star appears multiple times depending on the number in the variable. E.g. b=2 means 2 stars. c=5 means 5 stars'
a=7; a+=3; b=2; c=5
print (a, b, c, sep='*'*b, end = '.')

10**2**5.

Semi colons seperates the variable in the line. Used to save space. Same as declaring in every line.

In [ ]:
'*'*6 'Multiplying a string with a number'

'******'

In [ ]:
price = 3.46
num = 45
fruit = 'apple'
print ("The total price for ", num, fruit, "s is", price*num, ".")
'multiplied price and num to print a statement'

The total price for  45 apple s is 155.7 .

In [ ]:
width = 17
height = 12.0
delimiter = '.'
print (width)
print (width/2)
print (width // 2) 
'// returns a number without the values after the decimal. executes the integer part'
print (height // 7)
print (height / 7)

17
8.5
8
1.0
1.7142857142857142

In [ ]:
a = -10
b = c = 20
d = 30
a+=5
print (a)
b *=3
c %=3
d //=3
'-10+5, 20*3, 20/3 remainder of 2, 30//3''a+=5 is the same as a=a+5'
print (a,b,c,d)

-5
-5 60 2 10

In [ ]:
a = "100"
b = 200
print(a+b) 'a needs to be converted to an integer so...'

TypeError: ignored

In [ ]:
a = "100"
b = 200
print (int(a)+b)

300

In [ ]:
'or print both values without the adding it'
a = "100"
b = 200
print(a + str(b))

100200

In [ ]:
'type of variable/function e.g. integer, float, boolean, string etc.'
a = 1 
type (a)

int

In [ ]:
a = 1
b = a+1.0
type (a+1.0)
print (b)
type (b)

2.0

float

In [ ]:
a = 1
b = a+1.0
type (input)

method

In [ ]:
a = 1
b = a+1.0
print(type (input))

c =1

<class 'method'>

In [ ]:
print ("Give me numbers to multiply")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

print ("Here is the result...")
print (' {} x {} x {} = {}'.format(num1,num2,num3,num1*num2*num3))

Give me numbers to multiply
Enter first number: 45
Enter second number: 34.999
Enter third number: 34.789
Here is the result...
 45.0 x 34.999 x 34.789 = 54791.109495000004

In [ ]:
name = input("What's your name? ")
print ("Hi, {}, how are you? ". format(name))

age = input ("How old are you {}? ". format(name))
print ("Great, {}, I am {} too! ". format(name, age))

city = input ("Which city are you from, {}? ". format(name))
print ("What a coincidence, I am from {} too! ". format(city))

print ("{}, here is your record...". format(name))
print ("NAME\tAGE\tCITY\n................................")
print ("{}\t{}\t{}\n................................". format(name,age,city))

What's your name? Fluke
Hi, Fluke, how are you?
How old are you Fluke? 25
Great, Fluke, I am 25 too!
Which city are you from, Fluke? Sandown
What a coincidence, I am from Sandown too!
Fluke, here is your record...
NAME	AGE	CITY
..................................
Fluke	25	Sandown
................................